body, html {
  font-family: avenir;
  font-size: 110%;
}
@media (min-width: 600px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
}
.center { text-align: center; }
.mt3 { margin-top: 30px; }
.mb3 { margin-bottom: 30px; }
.mb1 { margin-bottom: 10px }
.bold { font-weight: bold; }
.white { color: #fff; }
.bg-black { background-color: #000; }
.ptr:hover { cursor: crosshair; }
.med { font-size: 1.5em; }
.hidden { display: none; }
